.container{
    width: 15em;
    background-color: black;
    box-shadow: -2px 2px 5px 1px #a10000;
    border-radius: 2%;
    color: #fffdfd;
    padding: 1em;
}

.divHeader{
    display: grid;
    grid-template-columns: 25px 1fr;
    justify-items: center;
    align-items: center;
}

.btnEliminar{
    font-size: 14px;
    box-shadow: -1px 1px 4px 0px #ff0000;
    border-radius: 20%;
    color: #ff0404;
    background-color: #000000;
}

.descPokType{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}


.imagenPokemon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

.descripcionPokemon{
    padding: 0.005em 0.9em;
    background-color: #ad000091;
    border-radius: 5%;
}

.descPok{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}